.homePage {
  background-image: url("./background..jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 8vh;
  font-family: "Montserrat", sans-serif;
}
.home1-content {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.quoteContainer {
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  padding: 2rem;
  z-index: 2;
}
.quote {
  border-radius: 10px;
  width: 100%;
}
.textContainer {
  position: absolute;
  width: 60%;
  padding: 2rem;
  color: rgb(59, 114, 178);
  text-align: center;
  box-shadow: 0px 0px 16px 2px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  z-index: 3;
}
.textContainer h1 {
  font-size: 2rem;
}
.textContainer h2 {
  font-size: 1.5rem;
}
